/* Calligraphie*/ /* penser a mettre le font-weight: .. ; celon la partie du projet */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*media queries*/
/*Ordinateur*/

  html{
    max-width: 1440px;
    height: 1884px;
    margin:auto;
  }

/*Box-sizing*/

body{
  box-sizing: border-box;
  width: 1440px;
  font-family: 'Raleway', sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  margin-top:0px;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}


/*Header*/
                                  /*EN TETE*/

header{
  width: 1335px;
  max-height: 29px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 19px;
  padding-left: 5px;
  
}

.Logo {
  width: 61.09px;
  height: 19px;
  margin-top: 44px;
  margin-bottom: 4px ;
}

nav{
width: 381px;
display: flex;
height: 19px;
margin-right:0px;
padding-left: 53px;
}

.lien{
min-width: 162px;
flex: 50%;
padding-top: 48px;
display: flex;
justify-content: center;
font-size: 16px;
color:black;
text-decoration: none;
}

.lien:hover{
  color:#0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 46px;
}


/*Main*/

.sections{
  width: 1340px;
  height: 1179px;
 /* overflow: visible;*/
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 37px;
}



                        /*Section Recherche*/
.recherche{
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  margin-top:59px;
}



/*Titre*/

.tlg0{
width: 575px;
height: 26px;
font-size: 22px;
font-weight: 700;
line-height: 26px;
text-align: left;
margin: 0px;
}

.recherche1{
font-weight: 400;
font-size: 16px;
width: 296px;
height: 19px;
margin-top: 8px;
margin-bottom: 20px;
}

.rectangle{
  width: 418px;
  height: 49px;
  display: flex;
  margin-bottom: 32px;
}

.ico{
  min-width: 50px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  background : #F2F2F2;
  border-radius: 15px 0px 0px 15px;
}

.ville{
  width: 236px;
  height: 49;
  border: 1px solid #F2F2F2;
  box-shadow: none; 
  font-weight: 700;
  font-size: 18px;
  padding: 0px;
}
.ville::placeholder{
  width: 147px;
  height: 21px;
  font-weight: 700;
  font-size: 18px;
  color: black;
  line-height: 21.13px;
  text-align: center;
}

.disabled{
  min-width: 132px;
  height: 49px;
  font-weight: 700;
  cursor: not-allowed;
  border: 1px solid  #F2F2F2;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065FC;
  font-size: 18px;
  text-align: center;
  line-height: 21.13px;
  color:white;

}


.fa-magnifying-glass{
  display: none;
}

/* FILTRE*/

.filtre2{
  display: flex;
  width: 914px;
  height: 50px;
  margin-bottom: 35px;
}

.filtre2 h2{
  width: 54px;
  height: 21px;
  font-style: Bold;
  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  text-align: end;
  margin-right: 30px;
}

.filtre{
  display: flex;
  justify-content: space-between;
  width: 830px;
  flex-grow: 1;
  height: 50px;
}

.filter{
    font-weight: bold;
    font-size: 17px;
    width: auto;
    border: 2px solid #d9d9d9;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    align-items: center;
    align-content: flex-start;
    padding-left:20px;
    padding-right: 20px; 
}


.filter:hover{
  background-color: #DEEBFF;
}


.fa-money-bill-wave{
  color: #0065FC;
  margin-right: 10px;
  min-width: 22px;
  min-height: 16.26px;
}


.fa-person{
  color: #0065FC;
  margin-right: 14.56px;
  font-size: 22px;
}

.fa-heart{
  color: #0065FC;
  margin-right: 10px;
  min-height: 22px;
  min-height: 18.33px;
}

.fa-dog{
  color: #0065FC;
  margin-right: 10px;
  width: 22px;
  height: 22px;
}


.filtre3{
  display: flex;
  gap: 11px;
  width: 447px;
  height: 24px;
  margin-left: 4px;
}

.fa-info{
  color: #0065FC;
  width: 24px;
  height: 24px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #d9d9d9;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.ligneinfo{
  width: 412px;
  height: 19px;
  font-weight: 400 ;
  display: flex;
  font-size:16px;
  margin-top: 3px;
  margin-bottom: 0px;
}


/*Herbergement */
.sechebergement{
  width: 882px;
  height: 628px;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
  padding: 40px;
}

.boitehebergement1{
  max-width: 800px;
  max-height: 428px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.tlg1{
  max-width: 278px;
  height: 26px;
  font-weight: 700;
  font-size: 22px;
  font-style: bold;
  margin-bottom: 23px;
  margin-top: 2px;
}

.bt1{
width: 246px;
height: 199px;
background-color: #ffffff;
border-radius: 20px 20px 20px 20px;
border:5px solid #ffffff;
box-shadow: 5px 5px 10px grey;
display: flex;
flex-direction: column;
text-decoration: none !important;
color: black;
margin-bottom: 30px;

}

.log1{
  max-width: 236px;
  max-height: 124px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  padding-bottom: 9px;
 }

.bt2{
  width: 236px;
 height: 75px;
 display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  gap: 9px;
  padding-left:11px;
 /* padding-top: 9px;*/
  padding-right: 26px;
}

 
.st1{
 width: 204px;
 height: 15px;
 font-size: 16px;
 font-weight: 700;
 line-height: 19px;
 margin: 0px;
}

.prix1{
  width: 204px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  font-style: normal;
  margin: 0px;

}

.et1{
  width: 68px;
  height: 12px;
  display: flex;
  font-size: 12px;
  margin-bottom: 11px;
}

.fa-star{
width: 12px;
height: 12px;
font-size: 12px;
color: #0065FC;
margin-left: 2px;
/*padding-bottom: 11px;*/

}

.fa-star+.fa-star+.fa-star+.fa-star+.fa-star{
  color: #f2f2f2;
}

.afflien{
  width: 107px;
  height: 21px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-decoration: none !important;
  margin-left: 4px;
  margin-bottom: 6px;
  margin-top: 40px;
}

/*Populaire*/
.populaire{
  width: 420px;
  height: 625px;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.populaire2{
  display: flex;
  flex-wrap: wrap;
}

.titpop{
  display: flex;
  flex-wrap: nowrap;
  gap:118px;
}

.tlg2{  
  min-width: 205px;
  height: 26px;
  font-weight: 700;
  font-size: 22px;
  font-style: bold;
  margin-top:41px;
  margin-left: 27px;
  margin-bottom: 26px;
}

.fa-chart-line{
  width: 18px;
  height: 15.75px;
  color: #0065FC;
  margin-top: 46px;
  margin-right: 42px;
}

.logement{
width: 353px;
height: 144px;
background-color: #ffffff;
border-radius: 20px 20px 20px 20px;
border:5px solid #ffffff;
box-shadow: 5px 5px 10px grey;
text-align: left;
overflow: hidden;
display: flex;
flex-direction: rown;
gap: 4px;
text-decoration: none !important;
color: black;
margin-left: 27px;
margin-bottom: 30px;
margin-right: 30px;

}

.log2{
  max-width: 137px;
  max-height: 144px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.bt3{
  width: 169px;
  height: 116px;
  display:flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 15px;
}

.st2{
  width: 169px;
  height: 38px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 6px;
  margin-bottom: 7px;
  margin-right: 22px;
}

.prix2{
  width: 169px;
  height: 15px;
  font-size: 14px;
  font-style: normal;
  margin-top: 0px;
}

.et2{
  width: 68px;
  height: 12px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-bottom: 12px;
  margin-top: 34px;
}

.et3{
  width: 68px;
  height: 12px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-bottom: 12px;
  margin-top: 49px;
}

/*Activite*/
.activite1{
  min-width: 1400px;
  max-height: 493px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.activite2{
  display: flex;
  flex-direction: row;
  gap: 43px;
}

.tlg3{
  min-width: 212px;
  height:31px;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 18.47px;
}

.loisir{
  min-width: 302px;
  max-height: 445px;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 5px grey;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
  color: black;
}

.act1{
  max-width: 302px;
  max-height: 389px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.st3,.st4,.st5{
  max-width: 302px;
  max-height: 56px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left:19px;
  padding-top: 20px;
  padding-bottom: 21px;
  margin: 0px;
}



/*footer*/
footer{
  width: 1339px;
  height: 225px;
  background-color: #f2f2f2;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  margin-left: 48px;
}

.liste{
  width: 942px;
  height: 122px;
  display: flex;
  flex-direction: column;
}

.tlg4{
  margin-left: 40px;
  margin-top: 45px;
  margin-bottom: 8px;
  height: 21px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

.info3{
  width: 194px;
  height: 81px ;
  list-style-type: none; 
  margin:0px;
}

.inf{
  line-height: 19px;
  width: 194px;
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  font-style: normal;
  color: black;
  display: flex;
  flex-direction: row;
}

/* TABLETTE*/
@media screen and (max-width:991px)
{
html{
 max-width: 1024px;
}


/* en-tête */
header{
  /*width: 881px;*/
  margin-bottom: 54px;
  padding-left: 0px;
}

nav{
  width: 243px;
  Top: 48px;
  Left: 709px;
  padding-left: 0px;
}

.lien:hover::before {
visibility: hidden;
}

/* main */

/*Recherche*/

.recherche{
  padding-left: 0px;
}

.recherche1{
  margin-top: 13px;
}

.rectangle{
  width: 406px;
}

.filtre2{
  max-width:846px ;
}




/*Sections*/
 
.sections{
  max-width:883px;
  min-height: 1288px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap:0px;
  margin-top: 20px;
}

/*Hebergement*/
.sechebergement{
  width:880px;
  min-height: 626px;
  margin-left: 0px;
}

.tlg1{
  min-width: 279px;
  height: 26px;
}


.fa-star{
width: 12px;
height: 12px;
color: #0065FC;
margin-left: 2px;
padding-bottom: 11px;

}


.afflien{
  width: 107px;
  height: 21px;
  margin-bottom: 36px;
  margin-left: 34px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-decoration: none !important;
}

/*Populaire*/
.tlg2{
  margin-top: 34px;
  width: 206px;
  margin-left: 0px;
  margin-bottom: 26px;
}

.fa-chart-line{
  width: 18px;
  height: 16px;
}

.populaire{
  min-width: 885px;
  min-height: 278px;
  padding-left: 40px;
  padding-right: 18px;
  margin-top: 53px;
}

.populaire2{
  width: 757px;
  height: 144px;
  display:flex;
  flex-wrap: nowrap;
}

.titpop{
  gap:579px;
}

.logement{
  min-width:252px;
  min-height: 144px;
  margin-left: 0px;
  margin-right: 23px;
}

.log2{
  width: 106px;
  height: 144px;
}

.bt3{
  width: 146px;
  height: 144px;
  margin-left: 5px;
  gap:7px;
}

.st2{
  max-width: 111px;
  height: 57px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 0px;
}

.prix2{
  width: 130px;
  height: 32px;
  font-size: 13px;
}

.et2{
  width: 68px;
  height: 12px;
  display: flex;
  align-items: flex-end;
  margin-left:0px;
  margin-bottom: 12px;
  margin-top: 0px;
}

.et3{
  width: 68px;
  height: 12px;
  display: flex;
  align-items: flex-end;
  margin-left:0px;
  margin-bottom: 12px;
  margin-top: 0px;
}

/*Activites*/
.activite1{
  margin-left: 0px;
  max-height: 331px;
}

.tlg3{
  width: 212px;
  height:30px;
  margin-top: 60px;
  margin-bottom: 34px;
}

.activite2{
  max-width: 878px;
 height: 267px ;
  gap:50px;
}

.loisir{
  min-width: 182px;
  max-height: 267px;
}
.act1{
  max-width: 182px;
  max-height: 211px;
}

.st3{
  max-width: 182px;
  max-height: 56px;
  font-size: 16px;
  margin: 0px;
  padding-bottom: 21px;
}

.st4{
  max-width: 182px;
  max-height: 56px;
  padding-top: 9px;
  padding-right: 27px;
  padding-bottom: 7px;
  font-size: 16px;
}

.st5{
  max-width: 182px;
  max-height: 56px;
  padding-top: 7px;
  padding-right: 36px;
  padding-bottom: 11px;
  font-size: 16px;

}



/*Footer*/
footer{
  width: 880px;
  height:225px;
  margin: 0px;
  gap:82px;
  margin-top: 90px;
  padding-left: 33.5px;
}

.liste{
  width: 192px;
  height: 122px;
}
}

/*Telephone portable*/
@media screen and (max-width:767px)
{
  html{
   /* width: 375px;
    height: 4113px;*/
    margin-right: 0px;
  }
  
  
  /* en-tête */
  header{
    width: 100%;
    height: 124px;
    margin-bottom: 31px;
    justify-content: space-between;
    padding-left: 0px;
  }

  .Logo{
    display: flex;
    margin-left: 42%;
    margin-top: 21px;
  }
  
  nav{
    width: 100%;
    min-height: 43;
    Top: 48px;
    Left: 709px;
    margin-top: 48px;
  }

  .lien{
    min-height: 43px;
    border-bottom: 3px solid #F2F2F2;
    padding-top: 0px;
    padding-bottom: 23px;
  }
    
    .lien:hover{
      color:#0065FC;
      border-top: none;
      padding-top: 0px;
      border-bottom: 3px solid #0065FC;
      padding-bottom: 20px;
    }
    

  
  /* main */

   /*Recherche*/
.recherche{
  padding-left: 20px;
}
   .tlg0{
    width: 298px;
    height: 52px;
    margin-top: 0px;
   }

  .rectangle{
    width: 332px;
    height: 49px;
    margin-top: 36px;
    margin-bottom: 34px;
  }

  .ico{
    width: 49px;
    height: 49px;
  }

  .ville{
    width: 233px;
    height: 49px;
  }

.fa-magnifying-glass{
  display: contents;
}

.search{
  display: none;
}

 
  
  .filtre2{
    flex-direction: column;
    width: 375px;
    height: inherit;
  }

  .filtre{
    width: 334px;
    height: 117px;
    flex-wrap: wrap;
    gap:14px;
  }

  .filter{
    height: 50px;
    width: 160px;
    font-size: 11px;
    padding-left: 13px;
    padding-right: 0px;
  }

  .filtre2 .filtre i{
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.fa-money-bill-wave{
  
  max-width: 21px;
  max-height: 14.78px;
  font-size: 21px;
}


.fa-person{
 min-width: 13.44px;
  min-height: 22px;
}

.fa-heart{
min-width: 22px;
  min-height: 18.33px;
  font-size: 22px;
}

.fa-dog{
min-width: 21px;
  min-height: 20px;
  font-size: 21px;
}

.filtre3{
  width: 333px;
  height: 57px;
  margin-bottom: 17px;
}

  .ligneinfo{
    width: 298px;
    height: 57px;
    display: flex;
    flex-wrap: wrap;
  }


  /*Sections*/
   
  .sections{
    width:875px;
    min-height: 1288px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap:0px;
    margin-top: 0px;
  }
  
  /*Hebergement*/
.sechebergement{
  /*order: 1;*/
 top:1216px;
 width: 375px;
 height:1326px ;
 background-color: white;
border-radius: 0px;
border: white;
text-align: center;
padding-left: 20px;
padding-right: 20px;
margin-bottom: 161px;
margin-left: 0px;
}

.bt1{
  min-width: 335px;
  min-height: 189px;
  margin:0px;
  margin-bottom: 12px;
}
.boitehebergement1{
    max-width:335px;
    min-height: 1254px;
    margin-top: 19px;
    margin-bottom: 0px;
  }
  
  .tlg1{
    min-width: 279px;
    height: 26px;
    margin-left: 0px;
    margin-top: 26px;
    text-align: start;
    margin-bottom: 0px;
  }

  .log1{
    max-width: 335px;
    min-height: 124px;
  }

.bt2{
  min-width: 204px;
  min-height: 60px;
  text-align: start;
}

.st1{
  margin: 0px;
}
  
  .fa-star{
  width: 12px;
  height: 12px;
  color: #0065FC;
  margin-left: 2px;
  padding-bottom: 11px;
  }
  
  
  .afflien{
  display: none;
  }
  
  /*Populaire*/
  .populaire{
    order: -1;
    top: 636px;
    max-width: 375px;
    min-height: 580px;
    margin-top: 17px;
    padding-left: 20px;
    padding-right: 21px;
    text-align: center;
    padding-bottom: 47px;
  }
  .populaire2{
    max-width: 334px;
    height: 144px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap:10px;
  }

  .tlg2{
    width: 262px;
    height: 26px;
    margin: 0px;
    text-align: start;
  }
  
  .fa-chart-line{
    width: 18px;
    height: 16px;
    margin: 0px;
    margin-top: 7px;
  }
  
  .titpop{
    max-width:334px ;
    height: 26px;
    margin-top: 28px;
    margin-bottom: 26px;
    gap: 54px;
  }
  
  .logement{
    max-width:324px;
    min-height: 144px;
    margin-bottom:5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .log2{
    width: 106px;
    height: 144px;
  }
  
  .bt3{
    width: 146px;
    height: 144px;
    margin-left: 5px;
    gap:7px;
  }
  
  .st2{
    max-width: 111px;
    height: 57px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    margin: 0px;
  }
  
  .prix2{
    width: 130px;
    height: 32px;
    font-size: 13px;
  }
  
  .et2{
    width: 68px;
    height: 12px;
    display: flex;
    align-items: flex-end;
    margin-left:0px;
    margin-bottom: 12px;
    margin-top: 0px;
  }
  
  .et3{
    width: 68px;
    height: 12px;
    display: flex;
    align-items: flex-end;
    margin-left:0px;
    margin-bottom: 12px;
    margin-top: 0px;
  }
  
  /*Activites*/
  .activite1{
    /*order: 1;*/
    margin-left: 0px;
  }
 

  .tlg3{
    max-width: 212px;
    max-height:30px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 22px;
    margin: 0px;
    margin-bottom: 24px;
  }
  
  .activite2{
    max-width: 375px;
    max-height: 832px;
    gap:24px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-left: 19px;
  }
  
  .loisir{
    max-width: 334px;
    max-height: 190px;
  }
  .act1{
    max-width: 334px;
    min-height: 134px;
  }
  
  .st3, .st4, .st5{
    max-width: 266px;
    max-height: 56px;
    margin: 0px;
    padding-bottom: 21px;
    font-size: 16px;
  }

  
  
  
  /*Footer*/
  footer{
    /*position: relative;*/
    top: 1704px;
    width: 377px;
    height: 501px;
    margin: 0px;
    gap:82px;
    padding-left: 33px;
    padding-top: 45px;
    padding-bottom: 61px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap:40px;
  }
  
  .liste{
    width: 192px;
    height: 122px;
    padding: 0px;
  }

  .tlg4{
  min-height: 21px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  }

  .info3{
  padding: 0px;
  margin: 0px;
  }

  .inf{
    margin-top: 0px;
    margin-bottom: 12px;
  }
}