/* Calligraphie*/ /* penser a mettre le font-weight: .. ; celon la partie du projet */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*Box-sizing*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
font-family: 'Raleway', sans-serif;
max-width: 1400px;
}


/*Header*/
                                  /*EN TETE*/

header{
  display: flex;
  justify-content: space-between;
  line-height: 19px;
  margin: 48px;
}

.Logo {
  width: 61.09px;
  height: 19px;
}

nav{
width: 324px;
display: flex;
height: 19px;
Top: 48px;
Left: 982px;
}

.lien{
flex: 50%;
text-align: center;
color:black;
size:16px;
position:relative;
}

.lien:hover{
  color:#0065FC;
}

.lien::before{
  content:"";
  position: absolute;
  border-top: 2px solid #0065FC;
  left: 0px;
  right: 0px;
  margin-top: -48px;
  visibility: hidden;
}

.lien:hover::before{
  visibility: visible;
}

/*Main*/
main{
  margin: 48px;
}
                        /*Section Recherche*/
/*Titre*/
h1{
font-family: Raleway;
font-size: 22px;
font-weight: 700;
height: 26px;
letter-spacing: 0em;
line-height: 26px;
text-align: left;
vertical-align: Top;
}

p{
font-family: Raleway;
font-size: 16px;
height: 19px;
text-align: Left;
vertical-align: Top;
}


.disabled{
  cursor: not-allowed;
}






/*footer*/
footer{
  margin:48px;
}
.info{
  list-style-type: none;
}
