/* Calligraphie*/ /* penser a mettre le font-weight: .. ; celon la partie du projet */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*Box-sizing*/
html {
  box-sizing: border-box;
  max-width: 1400px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
font-family: 'Raleway', sans-serif;
max-width: 1400px;
}


/*Header*/
                                  /*EN TETE*/

header{
  display: flex;
  justify-content: space-between;
  line-height: 19px;
  margin: 55px;
  text-align: center;
}

.Logo {
  width: 61.09px;
  height: 19px;
}

nav{
width: 324px;
display: flex;
height: 19px;
Top: 48px;
Left: 982px;
}

.lien{
flex: 50%;
text-align: center;
color:black;
size:16px;
position:relative;
}

.lien:hover{
  color:#0065FC;
}

.lien::before{
  content:"";
  border-top: 2px solid #0065FC;
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: -55px;
  visibility: hidden;
}

.lien:hover::before{
  visibility: visible;
}

/*Main*/

                        /*Section Recherche*/
.recherche{
  margin:55px;
}



/*Titre*/
h1{
font-size: 22px;
font-weight: 700;
height: 26px;
letter-spacing: 0em;
line-height: 26px;
text-align: left;
vertical-align: Top;
}

p{
font-weight: 400;
font-size: 16px;
height: 19px;
}

.rectangle{
  width: 418px;
  height: 49px;
  display: flex;
}

.ico{
  width: 50px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  background : #F2F2F2;
  border-radius: 15px 0px 0px 15px;
  margin-right: auto;
}

.ville{
  width: 282px;
  height: 49;
  border: 1px solid #F2F2F2;
  box-shadow: none; 
  font-weight: 700;
  font-size: 18px;
}
.ville::placeholder{
  width: 147px;
  height: 21px;
  font-weight: 700;
  font-size: 18px;
  color: black;
  line-height: 21.13px;
  text-align: center;
}

.disabled{
  font-weight: 700;
  cursor: not-allowed;
  border: 1px solid  #F2F2F2;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065FC;
  font-size: 18px;
  text-align: center;
  line-height: 21.13px;
  color:white;
}

/* FILTRE*/

.filtre{
  display: flex;
  width:914px ;
  height:50px ;
  margin-left:7px;
  margin-top: 31px;
  margin-bottom: 35px;
}
 

.boutonf{
  border: 2px solid #d9d9d9;
  background-color: white;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin-left: 36px;
  width: 226px;
  height: 50px;
  border-radius: 25px 25px 25px 25px;
}

.boutonf1{
  font-weight: bold;
  font-size: 17px;
  margin-left: 36px;
  border: 2px solid #d9d9d9;
  background-color: white;
  width: 278px;
  height: 50px;
  border-radius: 25px 25px 25px 25px;
}

.boutonf:hover{
  background-color: #DEEBFF;
}

.boutonf1:hover{
  background-color: #DEEBFF;
}

.titref{
  width: 54px;
  height: 21px;
  font-style: Bold;
  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  align-items: center;
  vertical-align: Top;
  
}

.fa-money-bill-wave{
  color: #0065FC;
  margin-right: 10px;
  width: 22px;
  height: 16.26px;
}

.fa-person{
  color: #0065FC;
  margin-right: 10px;
  width: 13.44;
  height: 22px;
}

.fa-heart{
  color: #0065FC;
  margin-right: 10px;
  width: 22px;
  height: 18.33px;
}

.fa-dog{
  color: #0065FC;
  margin-right: 10px;
  width: 22px;
  height: 22px;
}



.ligneinfo{
  font-weight: 400 ;
  display:flex;
  align-items: center;
  width: 447px;
  height: 19x;
  font-size:16px;
  min-width: 372px;
  justify-content: space-between;
}

.fa-info{
  color: #0065FC;
  width: 24px;
  height: 24px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #d9d9d9;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}

/*Herbergement */
.hebergement{
  margin: 50px;
  padding: 10px;
  width: 880px;
  height: 626px;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
}

.tlg{
  min-width: 278px;
  height: 26;
  font-weight: 700;
  font-size: 22px;
  font-style: bold;
  margin-left: 30px;
  margin-right: 562px;
  margin-bottom: 13px;
  margin-top: 12px;
}

.bt1{
width: 246px;
height: 199px;
background-color: #ffffff;
border-radius: 20px 20px 20px 20px;
border:5px solid #ffffff;
text-align: left;
overflow: hidden;
display: flex;
flex-direction: column;
gap: 4px;
text-decoration: none !important;
color: black;
margin-left: 31px;
margin-bottom: 30px;

}

.bt2{
  max-width: 246px;
  max-height: 75px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.log1{
 max-width: 246px;
 max-height: 124px;
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 20px 20px 0px 0px;

}
 
.st1{
 width: 204px;
 height: 15px;
 font-size: 16px;
 font-weight: 700;
 margin: 0px;
}

.prix1{
  width: 204px;
  height: 15px;
  font-size: 14px;
  font-style: normal;
  margin: 0px;

}

.et1{
  width: 68px;
  height: 12px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.fa-star{
width: 12px;
height: 12px;
color: #0065FC;
margin-left: 2px;
padding-bottom: 11px;

}

.fa-star+.fa-star+.fa-star+.fa-star+.fa-star{
  color: #f2f2f2;
}

.afflien{
  width: 107px;
  height: 21px;
  margin-bottom: 36px;
  margin-left: 34px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-decoration: none !important;
}

/*Populaire*/
.populaire{
  margin: 50px;
}

/*Activite*/
.activites{
  margin: 50px;
}




/*footer*/
footer{
  margin:50px;
}
.info3{
  list-style-type: none;
}
