/* Calligraphie*/ /* penser a mettre le font-weight: .. ; celon la partie du projet */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


/*Box-sizing*/
html{
  max-width: 1400px;
}

body{
  
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  max-width: 1340px;
  /*margin:auto;*/
  margin-top:48px;
  margin-left: 2%;
  margin-right: 2%;
 /* max-width: 100%;
  margin-left: 50px;
  margin-right: 50px;*/
}
  
*, *:before, *:after {
  box-sizing: inherit;
}


/*Header*/
                                  /*EN TETE*/

header{
  max-width: 1335px;
  max-height: 29px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 19px;
 /* padding-left: 5px;*/
  margin: auto;
  
}

.Logo {
  width: 61.09px;
  height: 19px;
  margin-bottom: 4px ;
}

nav{
width: 381px;
display: flex;
height: 19px;
margin-right:0px;
padding-left: 53px;
}

.lien{
min-width: 162px;
flex: 50%;
margin-top: -48px;
padding-top: 48px;
display: flex;
justify-content: center;
font-size: 16px;
color:black;
text-decoration: none;
}

.lien:hover{
  color:#0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 46px;
}


/*Main*/

.sections{
  max-width: 100%; /* 1300px*/
  max-height: 880px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  margin-top: 39px;
}



                        /*Section Recherche*/
.recherche{
  /*padding-left: 5px;*/
  display: flex;
  flex-direction: column;
  margin-top:59px;
  margin-left: auto;
  margin-right: auto;
 
}



/*Titre*/

.tlg0{
width: 575px;
height: 26px;
font-size: 22px;
font-weight: 700;
line-height: 26px;
text-align: left;
margin: 0px;
}

.recherche1{
font-weight: 400;
font-size: 16px;
width: 296px;
height: 19px;
margin-top: 8px;
margin-bottom: 20px;
}

.rectangle{
  width: 418px;
  height: 49px;
  display: flex;
  margin-bottom: 32px;
}

.ico{
  min-width: 50px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  background : #F2F2F2;
  border-radius: 15px 0px 0px 15px;
}

.ville{
  width: 236px;
  height: 49;
  border: 1px solid #F2F2F2;
  box-shadow: none; 
  font-weight: 700;
  font-size: 18px;
  padding: 0px;
  outline: none;
  padding-left: 17px;
}


.disabled{
  max-width: 132px;
  height: 49px;
  font-weight: 700;
  cursor: not-allowed;
  border: 1px solid  #F2F2F2;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065FC;
  font-size: 18px;
  text-align: center;
  line-height: 21.13px;
  color:white;

}


.fa-magnifying-glass{
  display: none;
}

/* FILTRE*/

.filtre2{
  display: flex;
  max-width: 914px;
  min-height: 50px;
  margin-bottom: 35px;
  padding-left: 1%;
}

.filtre2 h2{
  width: 54px;
  height: 21px;
  font-style: Bold;
  font-size: 18px;
  line-height: 21px;
  text-align: end;
  margin-right: 3%;
}

.filtre{
  display: flex;
  gap: 3%;
  max-width: 100%;
  flex-grow: 1;
  height: 50px;
}

.filter{
    width: max-content;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left:20px;
    padding-right: 20px; 
}

.filter2{
  width: max-content;
  font-weight: bold;
  font-size: 17px;
}


.filter:hover{
  background-color: #DEEBFF;
}

.filter i{
  color: #0065FC;
  margin-right: 10px;
  font-size: 22px;
}



.filtre3{
  display: flex;
  gap: 11px;
  width: 447px;
  height: 24px;
  margin-left: 4px;
}

.fa-info{
  color: #0065FC;
  width: 24px;
  height: 24px;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #d9d9d9;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.ligneinfo{
  width: 412px;
  height: 19px;
  font-weight: 400 ;
  display: flex;
  font-size:16px;
  margin-top: 3px;
  margin-bottom: 0px;
}


/*Herbergement */
.sechebergement{
  max-height: 626px;
  max-width: 65.6%; /* 880 px*/
  background-color: #F2F2F2;
  border: 40px solid #F2F2F2;
  border-radius: 20px 20px 20px 20px;
  /*margin: auto;*/
  display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
	align-content:flex-start;
  justify-content: flex-start;
}

.boitehebergement1{
  max-height: 428px;
  max-width:100%; /*800px*/
  display:flex;
  flex-wrap: wrap;
  gap: 3.75%;
}

.tlg1{
  /*width: 278px;*/
  font-weight: 700;
  font-size: 22px;
  font-style: bold;
  margin-bottom: 26px;
  margin-top: 2px;

}

.bt1{
max-width:30.75%; /*246px*/
max-height: 199px;
background-color: #ffffff;
border-radius: 20px 20px 20px 20px;
border:5px solid #ffffff;
box-shadow: 0px 2px 5px 2px rgb(224 224 224);
display: flex;
flex-direction: column;
text-decoration: none !important;
color: black;

}

.log1{
  max-width: 100%; /*236px*/
  min-height: 62.3%; /*124ps*/
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  padding-bottom: 9px;
 }

.bt2{
 width: 100%; /*236px*/
 max-height: 37,6%; /*75px*/
 display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  gap: 9px;
  padding-left:11px;
}

 
.st1{
 max-width: 100%; /*204px*/
 max-height: 15px;
 font-size: 90%; /*16px*/
 font-weight: 700;
 line-height: 19px;
 margin: 0px;
}

.prix1{
  width: 204px;
  height: 15px;
  line-height: 15px;
  font-size: 80%; /*14px*/
  font-style: normal;
  margin: 0px;

}

.et1{
  width: 68px;
  height: 12px;
  display: flex;
  font-size: 12px;
  margin-bottom: 11px;
}

.fa-star{
width: 12px;
height: 12px;
font-size: 12px;
color: #0065FC;
margin-left: 2px;

}

.fa-star+.fa-star+.fa-star+.fa-star+.fa-star{
  color: #f2f2f2;
}

.afflien{
  /*width: 107px;
  min-height: 21px;*/
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-decoration: none !important;
  padding: 51px 0px 6px 4px;
}

/*Populaire*/

.populaire{
  max-height: 625px;
  width:31.4%; /*420px*/
  background-color: #F2F2F2;
  border: 40px solid #F2F2F2;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  
}

.populaire2{
  max-height: 498px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titpop{
  
  width:100%; /*341px*/
  height: 26px;
  font-size: inherit;
  display: flex;
	justify-content: space-between;
	align-items: center;
}


.tlg2{  
  width: 205px;
  height: 26px;
  font-style: bold;
  font-size: 22px; 
  font-weight: 700;

}

.fa-chart-line{
  font-size: 18px;
  color: #0065FC;
}

.logement{
min-width: 100%;/*343px*/
min-height: 144px;
background-color: #ffffff;
border-radius: 20px 20px 20px 20px;
border:5px solid #ffffff;
box-shadow: 0px 2px 5px 2px rgb(224 224 224);
text-align: left;
overflow: hidden;
display: flex;
justify-content: space-between ;
text-decoration: none !important;
color: black;


}

.log2{
  max-width: 40%;
  max-height: 144px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.bt3{
  max-width: 60%; /*169px*/
  max-height: 144px;
  display:flex;
  flex-wrap: wrap;
  margin-left: 4%; /*15px*/
}

.loginfo{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.st2{
  width: 100%; /*169px*/
  font-size: 16px;
  font-weight: 700;
  margin-top: 11px;
  margin-bottom: 7px;
}

.prix2{
  width: 100%; /*169px*/
  height: 15px;
  font-size: 14px;
  font-style: normal;
  margin: 0px;
}


.et2{
  width: 68px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  font-size: 12px;
  margin-bottom: 7px;
}

/*Activite*/
.activite1{
  width: 100%; /*1300px*/
  height: 493px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.activite2{
  max-width: 100%; /* 1300px*/
  max-height: 445px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tlg3{
  width: 212px;
  height:30px;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 18.47px;
}

.loisir{
  max-width: 22.5%; /*302px*/
  max-height: 445px;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 2px 5px 2px rgb(224 224 224);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
  color: black;
}

.act1{
 
  min-height: 389px;
  width: 100%; /*302px*/
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.st3{
  width: 100%;/*302px;*/
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left:19px;
  font-size: 100%;
  margin: 0px;
}



/*footer*/
footer{

  width: 100%; /*1300px*/
  background-color: #f2f2f2;
  margin-top: 61px;
  display: flex;
  gap:17%;
  padding: 50px 60px 70px 60px;
}

.liste{
  max-width: 190px;
  height: 122px;
}

.tlg4{
  height: 21px;
  width: 190px;
  font-weight: 700;
  font-size: 18px;
  margin: 0px;
}

.info3{
  width: 190px;
  height: 81px ;
  list-style-type: none; 
  margin:0px;
  padding: 0px;
  margin-top: 20px;
}

.inf{
  line-height: 19px;
  width: 195px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: black;
  display: flex;
}


/* TABLETTE*/
@media all and (max-width:991px)
{


body{
  max-width: 1024px;
}

/* en-tête */

header{
  max-width: 100%;
  margin-bottom: 54px;
  padding-left: 0px;
}

nav{
    /*width: 243px;*/
    max-width: 100%;
    Top: 48px;
    Left: 709px;
    padding-left: 0px;
  }

.lien:hover{
  border-top: none;
  padding-top: 48px;
}


/* main */

.sections{
  max-width: 100%;
  display: flex;
  flex-direction: column;
}


/*Recherche*/
.recherche{
  max-width: 100%;
  margin-top: 0px;
}
.recherche1{
  margin-top: 13px;
}

.rectangle{
  max-width: 50%;
}

.filtre2{
  min-width: 100%;
}



  
  /* FILTRE*/
  
  .filtre2{
   min-width: 98%;
  font-size: 17px;
  }

  .filtre2 h2{
  }
  
   
  .filtre{
    min-width: 100%;
    min-height: 50px;
    gap: 3%;
    
  }
  
  .filter{
    max-width: 22.5%;
    padding-left: 15px;
  }
  
  .filter2{
min-width: 100%;
  }
  
  /*Herbergement */
  .sechebergement{
  min-width: 100%;
  }

  .st1{
    font-size: 16px;
  }

  
  .afflien{
 margin-top: 15px;
  }
  
  /*Populaire*/
  .populaire{
    min-width: 100%;
    margin-top: 53px;
  }
  
  .populaire2{
    max-width: 33%;
    display: flex;
    flex-direction: inherit;
    flex-wrap: nowrap;
    margin-top: 26px;
    gap: 3%;
  }
  
  /*Activite*/
  .activite1{
    padding-top: 70px;
    max-height: 331px;
  }
  
  .activite2{
    max-height: 267px;
  }

  .act1{
    min-height: 211px;
  }
  
  .st3{
    min-height: 56px;
  }
  
  
  
  /*footer*/
  footer{
    margin-top: 125px;
    gap:10%;
  }


}

/*Telephone portable*/
@media all and (max-width:767px)
{

body{
  width: 375px;
  margin-left: 0%;
  margin-right: 0%;
}
  
  
  /* en-tête */
  header{
    max-width: 100%;
    min-height: 129px;
    margin-bottom: 31px;
    justify-content: space-between;
    padding-left: 0px;
  }

  .Logo{
    display: flex;
  margin-left: 41.8%;
  margin-right: 41.8%;
    margin-top: 21px;*/
  }
  
  nav{
    max-width: 100%;
    min-height: 43;
    padding-top: 40px;
    margin-top: 48px;
  }

  .lien{
    min-height: 43px;
    border-bottom: 3px solid #F2F2F2;
    padding-top: 0px;
    padding-bottom: 23px;
  }
    
    .lien:hover{
      color:#0065FC;
      border-top: none;
      padding-top: 0px;
      border-bottom: 3px solid #0065FC;
      padding-bottom: 20px;
    }
    

  
  /* main */

   /*Recherche*/
.recherche{
  min-width: 100%;
  min-height: 473px;
}
   .tlg0{
    width: 80%; /*298px*/
    height: 52px;
    margin-top: 0px;
   }

.recherche1{
  min-width: 100%;
}   
  .rectangle{
    max-width: 100%; /*332px*/
    height: 49px;
    margin-top: 36px;
    margin-bottom: 34px;
  }

  .ico{
    min-width: 15%;
    height: 49px;
  }

  .ville{
    min-width: 60%; /*233px;*/
    height: 49px;
  }

.disabled{
  min-width: 15%;
}

.fa-magnifying-glass{
  display: contents;
}

.search{
  display: none;
}

 
  
  .filtre2{
    flex-direction: column;
    min-width: 100%;
  }

  .filtre{
    min-width: 100%; /*334px;*/
    height: 117px;
    flex-wrap: wrap;
    gap:14px;
  }

  .filter{
    height: 50px;
    min-width: 45.5%; /*160px;*/
    
    /*padding-left: 13px;
    padding-right: 0px;*/
  }

  .filter2{
    font-size: 11px;
  }

  .filtre2 .filtre i{
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

.filtre3{
  width: 333px;
  height: 57px;
  margin-bottom: 17px;
}

  .ligneinfo{
    min-width: 90%; /*298px;*/
    height: 57px;
    display: flex;
    flex-wrap: wrap;
  }

  .fa-info{
    min-width: 7%;
  }


  /*Sections*/
   
  .sections{
    min-width:100%;/*875px*/
    min-height: 1905px;
    margin-top: 0px;
  }
  
  /*Hebergement*/
.sechebergement{
  /*order: 1;*/
 /*top:1216px;*/
 min-width:100%; /*375px*/
 min-height:1326px ;
 background-color: white;
border-radius: 0px;
text-align: center;
/*margin-bottom: 161px;
margin-left: 0px;*/
display: inherit;
border: 20px solid white;
}

.boitehebergement1{
  max-width:335px;
  min-height: 1254px;
  margin-top: 19px;
  margin-bottom: 0px;
}

.tlg1{
  min-width:100%; /*279px*/
  min-height: 26px;
  margin-top: 6px;
  margin-bottom: 0px;
}


.bt1{
  min-width: 100%; /*335px*/
  min-height: 199px;
  /*margin:0px;
  margin-bottom: 12px;*/
}

  .log1{
    max-width:100%; /*335px*/
    min-height: 124px;
  }

.bt2{
  min-width:100%; /*335px*/
  min-height: 75px;
  text-align: start;
}

.st1{
  margin: 0px;
}

.prix1{
  min-width: 100%;
  font-size: 14px;
}
  
  /*.fa-star{
  width: 12px;
  height: 12px;
  color: #0065FC;
  margin-left: 2px;
  padding-bottom: 11px;
  }*/
  
  
  .afflien{
  display: none;
  }
  
  /*Populaire*/
  .populaire{
    order: -1;
    min-width:100%; /*375px*/
    min-height: 580px;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 47px;
    border: 20px solid #f2f2f2;
    border-radius: 0px;
  }
  .populaire2{
    min-width:100%; /*334px*/
    min-height: 454px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /*gap:10px;*/
  }

 /* .tlg2{
    width: 262px;
    height: 26px;
    margin: 0px;
    text-align: start;
  }*/
  
 /* .fa-chart-line{
    width: 18px;
    height: 16px;
    margin: 0px;
    margin-top: 7px;
  }*/
  
  .titpop{
    min-width:100% ;
    min-height: 26px;
    padding-top: 8px;
    /*margin-top: 28px;
    margin-bottom: 26px;
    gap: 54px;*/
  }
  
  .logement{
    max-width:41%; /*324px;*/
    min-height: 144px;
    /*margin-bottom:5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;*/
  }
  
  .log2{
    min-width: 41%; /*137px*/
    min-height: 144px;
  }
  
  .bt3{
    min-width:59%; /*197px 15px*/
    min-height: 144px;
    /*margin-left: 5px;
    gap:7px;*/
  }
  
  .st2{
    min-width:100%; /*111px*/
    max-height: 38px;
   /* display: flex;
    flex-wrap: wrap;*/
    font-size: 16px;
    /*margin: 0px;*/
  }
  
  .prix2{
    min-width: 100%; /*130px*/
    min-height: 32px;
    font-size: 14px;
  }
  
  .et2{
    min-width:34.5%; /*68px*/
    min-height: 12px;
    padding-bottom: 12px;
    /*display: flex;*/
    align-items: flex-end;
    /*margin-left:0px;
    margin-top: 0px;*/
  }
  
  /*Activites*/
  .activite1{
    min-width: 100%;
    min-height: 886px;
    border: 20px solid white;
    padding-top: 0px;
    margin-top: 85px;
    /*display: flex;
    flex-direction: column;*/
  }
 

  .tlg3{
    max-width: 50%; /*212px*/
    min-height:30px;
   /* display: flex;
    flex-wrap: wrap;
    margin: 0px;*/
    margin-bottom: 24px;
  }
  
  .activite2{
    min-width: 100%; /*334px*/
    min-height: 832px;
   /* gap:24px;
    display: flex;
    flex-wrap: nowrap;*/
    flex-direction: column;
  }
  
  .loisir{
    min-width:100%; /*334px*/
    max-height: 190px;
  }
  .act1{
    min-width:100%; /*334px;*/
    min-height: 134px;
  }
  
  .st3{
    min-width: 100%; /*334px*/
    min-height: 56px;
    /*margin: 0px;
    padding-bottom: 21px;
    font-size: 16px;*/
  }

  
  
  
  /*Footer*/
  footer{
    /*position: relative;*/
  /* top: 1704px;
    width: 377px;
    height: 501px;
    margin: 0px;
    gap:82px;
    padding-left: 33px;
    padding-top: 45px;
    padding-bottom: 61px;*/
    /*flex-wrap: nowrap;*/
    min-width: 100%;
    min-height: 501px;
    flex-direction: column;
    justify-content: space-between;
    gap:40px;
    padding: 45px 60px 61px 30px;
  }
  
  .liste{
    min-width: 100%; /*192px*/
    min-height: 122px;
    /*padding: 0px;*/
  }

  .tlg4{
    min-width: 100%;
  min-height: 21px;
  /*padding: 0px;
  margin: 0px;*/
  margin-bottom: 20px;
  font-size: 18px;
  /*font-weight: bold;*/
  }

  .info3{
  min-width: 100%;
  min-height: 81px;
  }

  .inf{
    min-width: 100%;
    min-height: 19px;
    /*margin-top: 0px;
    margin-bottom: 12px;*/
  }
}